<div class="txs--grid">
    <div class="txs--grid__row">
        <div class="txs--grid__column -outline-left">
            Column 1
        </div>
        <div class="txs--grid__column -outline-left">
            Column 2
        </div>
        <div class="txs--grid__column -outline-left -outline-right">
            Column 3
        </div>
    </div>
    <div class="txs--grid__row">
        <div class="txs--grid__column -span-25 -outline-left">
            Column 1 (25%)
        </div>
        <div class="txs--grid__column -span-75 -outline-left -outline-right">
            Column 2 (75%)
        </div>
    </div>
    <div class="txs--grid__row">
        <div class="txs--grid__column">
            Column 1
        </div>
        <div class="txs--grid__column">
            <div class="txs--grid__row">
                <div class="txs--grid__column -outline">
                    Column 2a
                </div>
                <div class="txs--grid__column -outline">
                    Column 2b
                </div>
            </div>
        </div>
    </div>
</div>