<nav class="txs--nav">
    <div class="txs--nav__mobile-trigger">☰</div>
    <div class="txs--nav__items">
        {{#each links}}
            <a href="{{url}}" class="txs--nav__items__item">{{text}}</a>
        {{/each}}
    </div>
</nav>