<!DOCTYPE html>
<html>
    <head>
        <title>Taxes Design System Example Page</title>
        <link rel="stylesheet" href="/css/taxes-ds.css">
        <link rel="stylesheet" href="/css/local.css">
    </head>
    <body>
        <h1 class="txs--h1">Examples</h1>
        <hr class="txs--hr">
        {{> typography}}
        <hr class="txs--hr">
        {{> grid}}
    </body>
</html>