<!DOCTYPE html>
<html>
    <head>
        <title>Taxes Design System Example Page</title>
        <link rel="stylesheet" href="/css/taxes-ds.css">
        <link rel="stylesheet" href="/css/local.css">
    </head>
    <body>
        <div class="txs--grid">
            <div class="txs--grid__row">
                <div class="txs--grid__column"><h1 class="txs--h1">Examples</h1></div>
                <div class="txs--grid__column">{{>nav links=navigation_links}}</div>
            </div>
            <div class="txs--grid__row">
                <div class="txs--grid__column">
                    <hr class="txs--hr">
                    <a name="typography"></a>
                    {{> typography}}
                    <hr class="txs--hr">
                    <a name="grid"></a>
                    {{> grid}}
                    <hr class="txs--hr">
                    <a name="links"></a>
                    {{> links}}
                    <hr class="txs--hr">
                    <a name="cards"></a>
                    {{> cards}}
                    <hr class="txs--hr">
                    <a name="tabs"></a>
                    {{> tabs}}
                </div>
            </div>
        </div>
        <script src="scripts/libs.js"></script>
        <script src="scripts/taxesds.js"></script>
        <script>
            $(function() {
                taxesTabs('.txs--tabs');
                taxesMobileNav('.txs--nav');
            });
        </script>
    </body>
</html>