<!DOCTYPE html>
<html>
    <head>
        <title>Taxes Design System Example Page</title>
        <link rel="stylesheet" href="/css/taxes-ds.css">
        <link rel="stylesheet" href="/css/local.css">
    </head>
    <body>
        <h1 class="txs--h1">Examples</h1>
        <hr class="txs--hr">
        {{> typography}}
        <hr class="txs--hr">
        {{> grid}}
        <hr class="txs--hr">
        {{> links}}
        <hr class="txs--hr">
        {{> cards}}
        <hr class="txs--hr">
        {{> tabs}}
        <script src="scripts/libs.js"></script>
        <script src="scripts/taxesds.js"></script>
        <script>
            $(function() {
                taxesTabs('.txs--tabs');
            });
        </script>
    </body>
</html>