/***
 * Taxes design system - Hyperlinks
 *
 * Default styling for hyperlinks.
 */
 %hyperlink {
    color: $txs-link-color;
    text-decoration: underline;
    &:hover {
        color: $txs-link-color-hover;
    }
    &:active {
        color: $txs-link-color-active;
    }
    &.-inverted {
        color: invert($txs-link-color);
        &:hover {
            color: invert($txs-link-color-hover);
        }
        &:active {
            color: invert($txs-link-color-active);
        }
    }
 }
.#{$txs-namespace}--a {
    @extend %hyperlink;
}