/***
 * Taxes design system - mixin library
 */

// adds common border classes to block elements
@mixin outlines($width, $color) {
    &.-outline {
        border: $width solid $color;
    }
    &.-outline-left {
        border-left: $width solid $color;
    }
    &.-outline-right {
        border-right: $width solid $color;
    }
    &.-outline-top {
        border-top: $width solid $color;
    }
    &.-outline-bottom {
        border-bottom: $width solid $color;
    }
}

// adds common typography elements as child elements to the current selector
@mixin typography-children() {
    em {
        @extend %emphasis;
    }
    strong {
        @extend %strong;
    }
    q {
        @extend %inline-quote;
    }
    tt {
        @extend %preformatted;
    }
    a {
        @extend %hyperlink;
    }
}