/***
 * Taxes design system - typography
 *
 * Sets basis for fonts and text layout.
 */

@if $txs-font-use-fira-sans {
    @font-face {
        font-family: "Fira Sans";
        font-weight: 400;
        src: url($txs-font-path + "/FiraSans-Regular.woff") format("woff"), url($txs-font-path + "/FiraSans-Regular.ttf") format("truetype");
    }
    @font-face {
        font-family: "Fira Sans";
        font-weight: 400;
        font-style: italic;
        src: url($txs-font-path + "/FiraSans-Italic.woff") format("woff"), url($txs-font-path + "/FiraSans-Italic.ttf") format("truetype");
    }
    @font-face {
        font-family: "Fira Sans";
        font-weight: 700;
        src: url($txs-font-path + "/FiraSans-Bold.woff") format("woff"), url($txs-font-path + "/FiraSans-Bold.ttf") format("truetype");
    }
    @font-face {
        font-family: "Fira Sans";
        font-weight: 700;
        font-style: italic;
        src: url($txs-font-path + "/FiraSans-BoldItalic.woff") format("woff"), url($txs-font-path + "/FiraSans-BoldItalic.ttf") format("truetype");
    }
}

@if $txs-font-use-fira-mono {
    @font-face {
        font-family: "Fira Mono";
        font-weight: 400;
        src: url($txs-font-path + "/FiraMono-Regular.woff") format("woff"), url($txs-font-path + "/FiraMono-Regular.ttf") format("truetype");
    }
}

%copy-font {
    font-family: $txs-body-text-font;
    font-weight: $txs-body-text-font-weight;
}

%header-font {
    font-family: $txs-body-header-font;
    font-weight: $txs-body-header-font-weight;
}

%monospace-font {
    font-family: $txs-body-monospace-font; // prevent accidental pseudo-styling of monospace font
    font-weight: $txs-body-monospace-font-weight !important;
    font-style: normal !important;
}

html { font-size: $txs-body-text-size; }
body {
    background-color: $txs-body-background-color;
    color: $txs-body-text-color;
    line-height: $txs-body-text-line-height;
    padding: $txs-body-padding;
    @extend %copy-font;
}

%emphasis {
    font-style: italic;
}

%strong {
    font-weight: $txs-body-text-font-weight-strong;
}

.#{$txs-namespace}--em,
.-emphasis {
    @extend %emphasis;
}

.#{$txs-namespace}--strong,
.-strong {
    @extend %strong;
}

.#{$txs-namespace}--h1 {
    margin: $txs-h1-margin;
    font-size: $txs-h1-font-size;
    line-height: $txs-h1-line-height;
    @extend %header-font;
}

.#{$txs-namespace}--h2 {
    margin: $txs-h2-margin;
    font-size: $txs-h2-font-size;
    line-height: $txs-h2-line-height;
    @extend %header-font;
}

.#{$txs-namespace}--h3 {
    margin: $txs-h3-margin;
    font-size: $txs-h3-font-size;
    line-height: $txs-h3-line-height;
    @extend %header-font;
}

.#{$txs-namespace}--h4 {
    margin: $txs-h4-margin;
    font-size: $txs-h4-font-size;
    line-height: $txs-h4-line-height;
    @extend %header-font;
}

.#{$txs-namespace}--h5 {
    margin: $txs-h5-margin;
    font-size: $txs-h5-font-size;
    line-height: $txs-h5-line-height;
    @extend %header-font;
}

.#{$txs-namespace}--h6 {
    margin: $txs-h6-margin;
    font-size: $txs-h6-font-size;
    line-height: $txs-h6-line-height;
    @extend %header-font;
}

%inline-quote,
.#{$txs-namespace}--q {
    quotes: "“" "”";
    &:before {
        content: open-quote;
    }
    &:after {
        content: close-quote;
    }
}

%preformatted,
.#{$txs-namespace}--tt {
    @extend %monospace-font;
}

.#{$txs-namespace}--p {
    margin: $txs-p-margin;
    @extend %copy-font;
    font-size: $txs-p-font-size;
    line-height: $txs-p-line-height;
    @include typography-children();
}

.#{$txs-namespace}--blockquote {
    margin: $txs-blockquote-margin;
    @extend %emphasis;
    @extend %copy-font;
    font-size: $txs-blockquote-font-size;
    line-height: $txs-blockquote-line-height;
    @include typography-children();
}

.#{$txs-namespace}--pre {
    margin: $txs-pre-margin;
    @extend %preformatted;
    font-size: $txs-pre-font-size;
    line-height: $txs-pre-line-height;
    white-space: pre-wrap;
}

.#{$txs-namespace}--ul {
    list-style-type: $txs-ul-list-style-type;
    margin: $txs-ul-margin;
    .#{$txs-namespace}--ul__li {
        display: list-item;
        @extend %copy-font;
        font-size: $txs-ul-li-font-size;
        line-height: $txs-ul-li-line-height;
        @include typography-children();
        & .#{$txs-namespace}--ul {
            margin: $txs-ul-nested-margin;
            list-style-type: $txs-ul-nested-list-style-type;
        }
        &.-no-bullet {
            list-style-type: none;
        }
    }
    @each $listStyle in disc,
    circle,
    square {
        &.-#{$listStyle} {
            list-style-type: $listStyle;
        }
    }
    &.-no-bullet {
        list-style-type: none;
    }
}

.#{$txs-namespace}--ol {
    list-style-type: $txs-ol-list-style-type;
    margin: $txs-ol-margin;
    .#{$txs-namespace}--ol__li {
        display: list-item;
        @extend %copy-font;
        font-size: $txs-ol-li-font-size;
        line-height: $txs-ol-li-line-height;
        @include typography-children();
        & .#{$txs-namespace}--ol {
            margin: $txs-ol-nested-1-margin;
            list-style-type: $txs-ol-nested-1-list-style-type;
            & .#{$txs-namespace}--ol {
                margin: $txs-ol-nested-2-margin;
                list-style-type: $txs-ol-nested-2-list-style-type;
            }
        }
    }
    @each $listStyle in decimal,
    lower-latin,
    upper-latin,
    lower-roman,
    upper-roman,
    {
        &.-#{$listStyle} {
            list-style-type: $listStyle;
        }
    }
}

.#{$txs-namespace}--dl {
    margin: $txs-dl-margin;
    .#{$txs-namespace}--dl__dt {
        margin: $txs-dl-dt-margin;
        @extend %header-font;
        font-size: $txs-dl-dt-font-size;
        line-height: $txs-dl-dt-line-height;
    }
    .#{$txs-namespace}--dl__dd {
        margin: $txs-dl-dd-margin;
        @extend %copy-font;
        font-size: $txs-dl-dd-font-size;
        line-height: $txs-dl-dd-line-height;
        @include typography-children();
    }
}