<div class="links-example">
    <h1 class="txs--h1">Links and Buttons Examples</h1>
    <p class="txs--p">An example of a hyperlink: <a href="#">This link doesn't go anywhere</a></p>
    <p class="txs--p">Buttons:</p>
    <div>
        <button class="txs--button">Default Button</button>
        <button class="txs--button -primary">Primary Button</button>
        <button class="txs--button -secondary">Secondary Button</button>
    </div>
</div>