<div class="tabs-example">
    <h1 class="txs--h1">Tabs Component Example</h1>
    <div class="txs--tabs">
        <div class="txs--tabs__headers">
            <h3 class="txs--tabs__headers__header -active" data-target="tab-1">Tab 1</h3>
            <h3 class="txs--tabs__headers__header" data-target="tab-2">Tab 2</h3>
            <h3 class="txs--tabs__headers__header" data-target="tab-3">Tab 3</h3>
        </div>
        <div class="txs--tabs__content">
            <div class="txs--tabs__content__tab -active" id="tab-1">
                <p class="txs--p">Lorem ipsum dolor amet unicorn taxidermy crucifix fanny pack microdosing tacos hell of everyday carry freegan.
                    Try-hard coloring book banjo, pok pok brooklyn godard tilde. Four loko cold-pressed squid flexitarian,
                    distillery beard try-hard migas disrupt mustache tote bag semiotics copper mug biodiesel. Church-key
                    man braid edison bulb umami waistcoat. Tote bag thundercats raw denim tilde butcher health goth irony
                    woke wolf. Heirloom stumptown retro marfa.</p>
                <p class="txs--p">Chartreuse asymmetrical jean shorts, affogato YOLO la croix iceland fashion axe put a bird on it man bun
                    organic. Palo santo vaporware air plant iPhone, viral XOXO post-ironic sriracha blue bottle fanny pack
                    readymade twee migas artisan pickled. Literally ennui four loko VHS vexillologist XOXO scenester williamsburg
                    venmo hot chicken ramps. Keffiyeh godard shaman copper mug.</p>
            </div>
            <div class="txs--tabs__content__tab" id="tab-2">
                <p class="txs--p">Af chia prism gochujang everyday carry hexagon fixie dreamcatcher fam post-ironic ennui DIY cornhole. Gentrify
                    DIY drinking vinegar fanny pack, try-hard sustainable venmo photo booth brunch live-edge kombucha wolf
                    readymade. Bitters wolf photo booth pork belly. Poke slow-carb pok pok, hella actually post-ironic crucifix.
                    Neutra deep v lo-fi knausgaard marfa succulents pabst, salvia kinfolk flexitarian beard. Hexagon copper
                    mug adaptogen cloud bread. Beard schlitz iceland, coloring book mixtape glossier cornhole sustainable
                    ennui try-hard affogato butcher.</p>
                <p class="txs--p">Narwhal adaptogen paleo flexitarian messenger bag. Disrupt shabby chic authentic air plant flannel. Waistcoat
                    90's chicharrones yuccie actually direct trade activated charcoal art party gastropub 3 wolf moon taiyaki
                    occupy. Stumptown cloud bread messenger bag tofu seitan helvetica butcher wayfarers tote bag man braid
                    tousled chartreuse craft beer plaid.</p>
            </div>
            <div class="txs--tabs__content__tab" id="tab-3">
                <p class="txs--p">Cray +1 forage organic dreamcatcher. Air plant hexagon williamsburg, kickstarter af vape fanny pack XOXO
                    bitters unicorn brooklyn organic. Hot chicken plaid viral, pitchfork tacos pug poke. Taiyaki actually
                    ugh umami. Synth trust fund four loko af thundercats schlitz lomo knausgaard hashtag. Four loko fam literally
                    lyft palo santo vice YOLO. Bushwick PBR&amp;B health goth +1.</p>
            </div>
        </div>
    </div>
</div>