<h1 class="txs--h1">h1. Typography</h1>
<h2 class="txs--h2">h2. An example of headers</h2>
<h3 class="txs--h3">h3. More headers</h3>
<h4 class="txs--h4">h4. Even more headers</h4>
<h5 class="txs--h5">h5. Almost done</h5>
<h6 class="txs--h6">h6. Six levels of headers!</h6>
<p class="txs--p">p. Lorem ipsum dolor amet cardigan yr dreamcatcher fanny pack. <strong>Ennui organic gluten-free, waistcoat hot chicken normcore subway</strong> tile bespoke seitan whatever green juice actually church-key retro. <tt>Hexagon locavore enamel pin tattooed.</tt> Pinterest cardigan master cleanse, selfies kitsch DIY banjo migas jianbing. Vinyl craft beer gluten-free locavore wayfarers shoreditch, pinterest kitsch taxidermy tousled succulents. Narwhal tofu banh mi +1 pour-over coloring book disrupt portland af VHS seitan keytar cloud bread schlitz chia.</p>
<p class="txs--p">p. Lo-fi migas edison bulb subway tile tumblr polaroid. <em>Pug blog microdosing butcher post-ironic pickled hoodie</em> bushwick offal swag aesthetic truffaut. Literally drinking vinegar mumblecore lyft. <q>Messenger bag vaporware tumeric actually,</q> quinoa retro leggings vinyl iceland truffaut woke migas austin hella.</p>
<blockquote class="txs--blockquote">blockquote. Roof party fanny pack raw denim paleo. Salvia jean shorts photo booth, VHS synth tilde XOXO pug roof party +1 keytar woke art party.</blockquote>
<pre class="txs--pre">
An example of pre-formatted text.

    You can have line breaks and extra spaces!
</pre>
<ul class="txs--ul">
    <li class="txs--ul__li">A list item</li>
    <li class="txs--ul__li">A list item</li>
    <li class="txs--ul__li -no-bullet">
        <ul class="txs--ul">
            <li class="txs--ul__li">A nested list item (use <tt>-no-bullet</tt> on parent <tt>li</tt> to remove double bullet)</li>
            <li class="txs--ul__li">A nested list item</li>
            <li class="txs--ul__li">A nested list item</li>
        </ul>
    </li>
</ul>
<p class="txs--p">With <tt>txs--ul</tt>, you can also use <tt>-disc</tt>, <tt>-circle</tt>, <tt>-square</tt>, <tt>-no-bullet</tt> to override the bullet style.</p>
<ol class="txs--ol">
    <li class="txs--ol__li">An ordered list item</li>
    <li class="txs--ol__li">An ordered list item</li>
    <li class="txs--ol__li">
        <ol class="txs--ol">
            <li class="txs--ol__li">A nested ordered list item</li>
            <li class="txs--ol__li">A nested ordered list item</li>
            <li class="txs--ol__li">
                <ol class="txs--ol">
                    <li class="txs--ol__li">A double-nested ordered list item</li>
                    <li class="txs--ol__li">A double-nested ordered list item</li>
                    <li class="txs--ol__li">A double-nested ordered list item</li>
                </ol>
            </li>
        </ol>
    </li>
</ol>
<p class="txs--p">With <tt>txs--ol</tt>, you can also use <tt>-decimal</tt>, <tt>-lower-latin</tt>, <tt>-upper-latin</tt>, <tt>-lower-roman</tt>, <tt>-upper-roman</tt> to override the numbering style.</p>
<dl class="txs--dl">
    <dt class="txs--dl__dt">A term</dt>
    <dd class="txs--dl__dd">A definition. Kickstarter kale chips food truck twee gastropub, <strong>gochujang 8-bit vice asymmetrical drinking vinegar pok pok flannel la croix</strong>. Umami pork belly chartreuse, jean shorts af forage ugh hella bitters sriracha selfies. Tousled deep v helvetica jianbing green juice, iPhone disrupt everyday carry la croix crucifix cold-pressed freegan offal. Single-origin coffee schlitz pork belly meh DIY. Distillery locavore pitchfork godard photo booth semiotics letterpress.</dd>
    <dt class="txs--dl__dt">A term</dt>
    <dd class="txs--dl__dd">A definition. Gastropub tofu bitters cardigan. <em>Bicycle rights crucifix 3 wolf moon</em>, quinoa squid vinyl kitsch paleo sustainable food truck meh +1 schlitz hoodie. Wayfarers pinterest YOLO, succulents kogi dreamcatcher direct trade hella tumeric. Beard pabst seitan, brooklyn food truck kale chips post-ironic unicorn wolf pitchfork distillery four loko typewriter quinoa tilde.</dd>
</dl>